body {
  background-color: rgb(224, 226, 243);
  color: white;
  font-family: "Roboto", sans-serif;
  max-width: 1268px;
  margin: 0 auto;
}
.heading {
  color: rgb(158, 84, 84);
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
#container {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(199, 151, 151);
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
  width: 50%;
  margin-left: 300px;
}
#user-board {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(199, 151, 151);
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
  width: 40%;
  margin-left: 300px;
}

.cell {
  background-color: rgb(204, 192, 226);
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: large;
  border-color: rgb(16, 1, 43);
  border-style: solid;
  border-width: 2px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.cell:hover {
  border-color: rgb(184, 122, 122);
  background-color: rgb(107, 66, 184);
}
#btn {
  border-radius: 30px;
  width: 220px;
  height: 40px;
  /* background-color: rgb(207, 179, 179); */
  box-shadow: 0 0 20px 9px #ff61241f;
  background: linear-gradient(to right, #bb7089, #967f52);
}

p {
  text-align: center;
  color: black;
}
.selected-cell {
  border-color: rgb(143, 74, 74);
  background-color: rgb(64, 27, 133);
}
